.product-view{
	width: 85%;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&__image-wrapper{
		padding: 20px 0;
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $header-accent-color;
	}
	&__img{
		max-width: 100%;
	}
	&-info{
		align-self: flex-start;
		width: 60%;
		padding-left: 50px;
		&__name{
			margin: 0;
			font-family: $secondary-font;
			font-size: 2rem;
		}
		&__prod{
			margin-bottom: 5px;
		}
		&__prod-name{
			color: $golden;
			letter-spacing: 0.04rem;
		}
		&__articul{
		}
		&__price{
			margin: 5px 0;
			color: $golden;
			font-size: 1.75rem;
			font-weight: bold;
			text-align: center;
		}
		&__desc{
			margin: 0;
			margin-bottom: 20px;
			line-height: 1.35rem;
			&-title{
				font-family: $secondary-font;
				font-size: 1.25rem;
			}
		}
		&-chars{
			width: 100%;
			margin-bottom: 30px;
		}
		
		&__btn-buy{
			display: block;
			margin: 20px auto;
			background: $header-accent-color;
			color: white;
			border: 2px solid $header-accent-color;
			padding: 12px 50px;
			width: 100%;
			font-size: 1.25rem;
			transition: all 0.3s ease;
			&:hover{
				background: transparent;
				color: $header-accent-color;
			}
		}
	}
}

.chars-table{
	width: 100%;
	margin: 20px auto;
	border: 1px solid $light-gray;
	border-collapse: collapse;
	&__caption{
		margin-bottom: 5px;
		text-align: left;
		font-family: $secondary-font;
		font-size: 1.25rem;
		font-weight: bold;
	}
	&__body{

	}
	&__line{}
	&__cell{
		text-align: center;
		padding: 3px;
		border: 1px solid $light-gray;
	}
}