$header-accent-color: lighten(black,20);
$action-color: #FFF200;
$light-gray: #ECECEC;
$golden: #CC9900;
$soft-black: #1D1D1B;

//fonts
$primary-font: 'Roboto', Arial, sans-serif;
$secondary-font: "Roboto Condensed", Arial, sans-serif;