<div class="g-footer-marks">
    <div class="g-footer-marks__copyright">&copy; 2016 SHKRED</div>
    <ul class="g-footer-marks-social">
        <li class="g-footer-marks-social__item">
            <a href="" class="g-footer-marks-social__link">
                <img ng-src="images/Facebook.svg" alt="fb" class="g-footer-marks-social__img">
            </a>
        </li>
        <li class="g-footer-marks-social__item">
            <a href="" class="g-footer-marks-social__link">
                <img ng-src="images/Vkontakte.svg" alt="vk" class="g-footer-marks-social__img">
            </a>
        </li>
        <li class="g-footer-marks-social__item">
            <a href="" class="g-footer-marks-social__link">
                <img ng-src="images/Google-Plus.svg" alt="gplus" class="g-footer-marks-social__img">
            </a>
        </li>
        <li class="g-footer-marks-social__item">
            <a href="" class="g-footer-marks-social__link">
                <img ng-src="images/Instagram.svg" alt="insta" class="g-footer-marks-social__img">
            </a>
        </li>
    </ul>
</div>
<div class="g-footer-links">
    <div class="g-footer-links-info">
        <ul class="g-footer-links-info-list">
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">О нас</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Доставка</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Оплата</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Контакты</a>
            </li>
        </ul>
    </div>
    <div class="g-footer-links-info">
        <ul class="g-footer-links-info-list">
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Личный кабинет</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Каталог</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Акции</a>
            </li>
            <li class="g-footer-links-info-list__item">
                <a href="" class="g-footer-links-info-list__link">Производители</a>
            </li>
        </ul>
    </div>
</div>
