
		<ul class="sidenav-list">
			<li class="sidenav-list__item">
				<a href="" class="sidenav-list__link">Главная</a>
			</li>
			<li class="sidenav-list__item">
				<a href="" class="sidenav-list__link">Каталог</a>
			</li>
			<li class="sidenav-list__item">
				<a href="" class="sidenav-list__link sidenav-list__link--hot">Акции</a>
			</li>
			<li class="sidenav-list__item">
				<a href="" class="sidenav-list__link">О нас</a>
			</li>
			<li class="sidenav-list__item">
				<a href="" class="sidenav-list__link">Контакты</a>
			</li>
		</ul>
		<div class="sidenav__email"><strong>Email :</strong> example@gmail.com</div>
		<div class="sidenav__phone-number"><strong>Телефон :</strong> +38 (067) 234 42 32</div>
